// available colors: primary | secondary | white | ghost
- var navStartColor = 'ghost' 
- var navIntoColor = 'secondary'

// available sizes: xl | lg | md | sm
- var navStartSize = 'xl'
- var navIntoSize = 'md'


// the bootstrap navbar
nav.navbar.navbar-fixed-top(
  class=(`navbar--color--${navStartColor}`)
  class=(`navbar--size--${navStartSize}`)
  data-startColor=(`navbar--color--${navStartColor}`)
  data-startSize=(`navbar--size--${navStartSize}`)
  data-intoColor=(`navbar--color--${navIntoColor}`)
  data-intoSize=(`navbar--size--${navIntoSize}`)
)

  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        type='button', 
        data-toggle='collapse', 
        data-target='#mobileNav', 
        aria-expanded='false'
      )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') ElasticNav.

    #mobileNav.collapse.navbar-collapse
     p.navbar-right.navbar-text Scroll down to trigger the nav transition.

// some content to allow scrolling :)
.hero
  .overlay
.main-content
  
  - var i = 0
  while i < 9
    section
      .container
        h2 Your journey starts here.
        p  This is it. You've made it so far. There is no going back.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iste molestias vel commodi, quae quaerat ex numquam. Consectetur corporis explicabo, qui labore, repellat dignissimos illo molestias maxime nisi a consequuntur?
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit fuga autem dolore, ex nobis, iste quasi, asperiores esse repellendus tempore, obcaecati numquam minima maxime! Laboriosam, ut ipsam magnam corporis aut.
        h3 Get lost and find yourself.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi placeat dolor molestias facere veritatis culpa amet fugiat debitis dolorem qui quidem consequuntur mollitia, nesciunt pariatur voluptatum! Dolor accusamus labore, sequi.

        - i++